<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlCEConnection" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=.\webstore.sdf" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="textBoxFolderImagesOdesa" value="C:\Users\Володимир\Desktop\Одеса" />
    <add key="textBoxFolderImagesKyiv" value="C:\Users\Володимир\Desktop\Одеса" />
    <add key="checkBoxRunShedule" value="unchecked"  />
    <add key="textBoxStart" value="16:31"/>
    <add key="textBoxInterval" value="24"/>
    <add key="checkBoxCheckAvailability" value="checked" />
    <add key="checkBoxCheckPrices" value="checked"/>
    <add key="checkBoxLoadNewProducts" value="checked"/>
  </appSettings>
</configuration>